*/nbproject/private
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
sounds/
image/

*.class

*.jar
*.war
*.ear

*.docx

*.jpg
*.GIF
*.gif
*.png
*.bmp

c14javafxbasics/
c15javafxevents/
c16javafxui/

